*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

.card-login {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.card-body-login {
  text-align: left;
}

.btn-login {
  width: 50%;
}

.boton-add-product {
  text-align: center;
  width: 100%;
}

.table-bottons {
  width: 30%;
}

.table-tables {
  width: 50%;
}